/* Custom Properties */

:root {
  --first-color: #323247;
  --second-color: #444564;
  --fourth-color: #7c85b5;
  --white-color: #fff;
  --font: "Roboto Condensed", "sans-serif";
  --max-width: 1200px;
  --header-height: 4rem;
}

/* Reset */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* a {
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0, 75;
} */

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6rem;
}

/* Utilities */

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

/* Site styles */

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--fourth-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ligth-container-icon {
  background-color: var(--white-color);
  padding: 0.3rem;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ligth-container-icon > svg {
  fill: var(--fourth-color);
  width: 1rem;
  height: 1rem;
}

.lang-mode-container {
  width: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-container {
  background-color: var(--white-color);
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-container span {
  color: var(--fourth-color);
  font-weight: 900;
  font-size: 1.1rem;
}

/* Menu */

.menu-button {
  border: 0;
  background-color: var(--fourth-color);
  cursor: pointer;
  display: flex;
}

.menu-button svg {
  width: 1.5rem;
  fill: var(--white-color);
}

.menu {
  background-color: var(--fourth-color);
  position: fixed;
  right: -100%;
  top: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: right 0.5s ease;
}

.is-active {
  right: 0;
}

.menu a {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  position: relative;
}

.menu a::after {
  content: "";
  height: 0.1rem;
  width: 0;
  position: absolute;
  background-color: var(--white-color);
  bottom: -0.2rem;
  left: 50%;
  transition: width 0.5s ease;
  transform: translateX(-50%);
}

.menu .container a:hover::after {
  width: 100%;
}

.menu .container {
  padding: 1rem;
}
