/* Custom Properties */

:root {
  --first-color: #323247;
  --second-color: #444564;
  --fourth-color: #7c85b5;
  --white-color: #fff;
  --font: "Roboto Condensed", "sans-serif";
  --max-width: 1024px;
  --header-height: 4rem;
}

/* Reset */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h2 {
  margin: 0;
  color: var(--first-color);
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.6rem;
  text-align: center;
  color: var(--first-color);
}

p {
  font-size: 1.1rem;
  color: var(--first-color);
  margin: 0.5rem 0;
}

/* Utilities */

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

/* General */

.btn {
  color: var(--white-color);
  background-color: var(--fourth-color);
  width: 12rem;
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem 0;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--second-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
}

/* Menu */

.menu-button {
  border: 0;
  background-color: var(--fourth-color);
  cursor: pointer;
  display: flex;
}

.menu {
  background-color: var(--fourth-color);
  position: fixed;
  right: -100%;
  top: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: right 0.5s ease;
}

.is-active {
  right: 0;
}

.menu a {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--white-color);
  position: relative;
}

.menu a::after {
  content: "";
  height: 0.1rem;
  width: 0;
  position: absolute;
  background-color: var(--white-color);
  bottom: -0.2rem;
  left: 50%;
  transition: width 0.5s ease;
  transform: translateX(-50%);
}

.menu a:hover::after {
  width: 100%;
}

.menu-button svg {
  width: 1.5rem;
  fill: var(--white-color);
}

.menu .container {
  margin: 1rem 0;
  text-align: center;
}

/* Site styles */

.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--fourth-color);
  display: flex;
  justify-content: space-between;
}

.header > .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ligth-container-icon {
  background-color: var(--white-color);
  padding: 0.3rem;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.ligth-container-icon:hover {
  transform: scale(1.15);
}

.ligth-container-icon > svg {
  fill: var(--fourth-color);
  width: 1rem;
  height: 1rem;
}

@keyframes rotarInfinito {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ligth-container-icon > svg:hover {
  animation: rotarInfinito 1.5s linear infinite;
}

.lang-mode-container {
  width: 4.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-container {
  background-color: var(--white-color);
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-container span {
  color: var(--fourth-color);
  font-weight: 900;
  font-size: 1.1rem;
}

/* Inicio - Home */

.div-image-title {
  margin-top: 1rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-nombre {
  margin: 0;
  font-size: 1.2rem;
  color: var(--first-color);
}

.p-descripcion {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.8rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--first-color);
}

.span-cv {
  font-size: 1.3rem;
  font-weight: bold;
}

.span-gd {
  font-size: 0.9rem;
}

.titulo-principal {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: 900;
  color: var(--first-color);
  font-size: 3.5rem;
  letter-spacing: -0.11rem;
  line-height: 3rem;
}

/* Acerca - About */

.about {
  width: 100vw;
}

.about > .container {
  margin: 2rem 1rem;
}

.div-skill {
  width: 40%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  transition: transform 0.3s ease;
}

.div-skill:hover {
  transform: scale(1.2);
}

.div-skill img {
  width: 3rem;
}

.div-skill p {
  font-style: italic;
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: default;
}

.skills-container {
  width: 288px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Media queries */

@media screen and (min-width: 620px) {
  .p-descripcion {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

/* Versión tablet */
@media screen and (min-width: 768px) {
  .div-image-title {
    max-width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn {
    width: 13rem;
    padding: 0.7rem 0;
  }

  .header {
    padding: 0 4rem;
  }

  .home {
    margin: 2rem 0;
  }

  .programmer-svg {
    width: 19rem;
  }

  .p-nombre {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--first-color);
  }

  .p-descripcion {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .titulo-principal {
    font-size: 4.5rem;
    letter-spacing: -0.25rem;
    line-height: 3.7rem;
  }

  .span-cv {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

/* Versión desktop */

@media screen and (min-width: 1024px) {
  .btn {
    width: 15rem;
    padding: 0.7rem 0;
  }

  .container {
    max-width: var(--max-width);
  }

  .div-image-title {
    margin: 1rem 0;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
  }

  .header {
    height: calc(var(--header-height) - 0.5rem);
  }

  .menu-button {
    display: none;
  }

  .menu {
    height: calc(var(--header-height) - 0.5rem);
    width: auto;
    position: static;
    flex-direction: row;
  }

  .menu a {
    margin-left: 2rem;
  }

  .menu .container {
    display: flex;
    align-items: center;
  }

  .programmer-svg {
    width: 23rem;
  }

  .p-nombre {
    margin-top: 0.5rem;
  }

  .p-descripcion {
    width: 920px;
  }

  .span-cv {
    font-size: 1.8rem;
  }

  .span-gd {
    font-size: 1rem;
  }

  .titulo-principal {
    font-size: 6rem;
    letter-spacing: -0.25rem;
    line-height: 5.2rem;
  }
}
