/* Custom Properties */

:root {
  --first-color: #323247;
  --second-color: #444564;
  --fourth-color: #7c85b5;
  --white-color: #ffffff;
  --font: "Roboto Condensed", "sans-serif";
  --max-width: 1088px;
  --header-height: 4rem;
  --box-shadow-aqua: 0.25rem 0.25rem 1rem rgba(27, 177, 191, 0.5);
}

/* Reset */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

body.dark {
  background-color: var(--second-color);
}

h2 {
  margin: 0;
  color: var(--first-color);
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

body.dark h2,
body.dark h3 {
  color: var(--white-color);
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.6rem;
  text-align: center;
  color: var(--first-color);
}

p {
  font-size: 1.1rem;
  color: var(--first-color);
  margin: 0;
}

body.dark p {
  color: var(--white-color);
}

section {
  scroll-margin-top: 4rem;
}

/* Utilities */

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.box-shadow-2 {
  box-shadow: 0 0.5rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -10;
}

.section {
  padding: 1rem;
}

/* Loader */

.div-input-loader {
  display: flex;
}

.dots-container {
  position: relative;
  margin-left: 1.5rem;
  background-color: aqua;
  display: flex;
  align-items: center;
}

.dots-container span {
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: var(--fourth-color);
  border-radius: 50%;
  transform: rotate(calc(var(--i) * (360deg / 15))) translateY(13px);
  animation: rotation 1.5s linear infinite;
  animation-delay: calc(var(--i) * 0.1s);
  opacity: 0;
}

@keyframes rotation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.none {
  display: none;
}

/* General */

.btn {
  color: var(--white-color);
  background-color: var(--fourth-color);
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem 0;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--second-color);
}

body.dark .btn:hover {
  background-color: #595a83;
}

.padding {
  padding: 1rem;
}

/* Menu */

.menu-button {
  border: 0;
  background-color: inherit;
  cursor: pointer;
  display: flex;
}

.menu {
  background-color: var(--fourth-color);
  position: fixed;
  right: -100%;
  top: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: right 0.5s ease;
}

body.dark .menu {
  background-color: var(--first-color);
}

.is-active {
  right: 0;
}

.menu a {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--white-color);
  position: relative;
}

.menu a::after {
  content: "";
  height: 0.1rem;
  width: 0;
  position: absolute;
  background-color: var(--white-color);
  bottom: -0.2rem;
  left: 50%;
  transition: width 0.5s ease;
  transform: translateX(-50%);
}

.menu a:hover::after {
  width: 100%;
}

.menu-button svg {
  width: 1.5rem;
  fill: var(--white-color);
}

/* Site styles */

.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  background-color: var(--fourth-color);
  display: flex;
  justify-content: space-between;
}

body.dark .header {
  background-color: var(--first-color);
}

.header section {
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.light-container-icon {
  background-color: var(--white-color);
  padding: 0.3rem;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.light-container-icon:hover,
.language-container:hover {
  transform: scale(1.15);
}

.light-container-icon svg {
  fill: var(--fourth-color);
  width: 1rem;
  height: 1rem;
}

body.dark .light-container-icon svg {
  fill: var(--first-color);
}

@keyframes rotarInfinito {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.light-container-icon svg:hover {
  animation: rotarInfinito 1.5s linear infinite;
}

.lang-mode-container {
  width: 4.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-container {
  background-color: var(--white-color);
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.language-container span {
  color: var(--fourth-color);
  font-weight: 900;
  font-size: 1.1rem;
}

body.dark .language-container span {
  color: var(--first-color);
}

/* Inicio - Home */

.div-image-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-image-title > img {
  width: 17rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .btn,
.contact .btn {
  display: block;
  width: 12rem;
  margin-top: 1rem;
}

.p-nombre {
  margin: 0;
  font-size: 1.2rem;
  color: var(--first-color);
}

body.dark .p-nombre {
  color: var(--white-color);
}

.p-descripcion {
  line-height: 1.8rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--first-color);
  max-width: 510px;
}

body.dark .p-descripcion {
  color: var(--white-color);
}

.span-cv {
  font-size: 1.3rem;
  font-weight: bold;
}

.span-gd {
  font-size: 0.9rem;
}

.titulo-principal {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: 900;
  color: var(--first-color);
  font-size: 3.5rem;
  letter-spacing: -0.11rem;
  line-height: 3rem;
}

body.dark .titulo-principal {
  color: var(--white-color);
}

/* Acerca - About */

.about {
  margin-top: 1rem;
}

.about article {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-p {
  text-align: center;
  margin: 0 auto;
}

.div-skill {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.div-skill:hover {
  transform: scale(1.1);
}

.div-skill img {
  width: 3rem;
}

.div-skill p {
  font-size: 0.9rem;
  cursor: default;
  user-select: none;
  text-align: center;
  margin-top: 0.5rem;
}

.skills-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 30%);
  justify-content: center;
}

/* Proyectos - Projects */

.div-icons-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-icons-project div {
  display: flex;
}

.div-icons-project svg {
  transition: transform 0.3s ease;
}

.div-icons-project svg {
  width: 1.9rem;
}

.div-icons-project svg:hover,
.div-socialMedia svg:hover {
  transform: scale(1.1);
}

.div-icons-project svg:hover .path-folder,
.div-icons-project svg:hover .path-github,
.div-icons-project svg:hover .path-link {
  fill: var(--first-color);
}

body.dark .path-folder,
body.dark .path-github,
body.dark .path-link,
body.dark .path-github {
  fill: var(--white-color);
}

body.dark .project .path-github + path {
  fill: var(--fourth-color);
}

.path-folder,
.path-github,
.path-link,
.path-linkedIn {
  fill: var(--fourth-color);
  transition: fill 0.4s ease;
}

.projects {
  margin-top: 3rem;
}

.projects article {
  max-width: var(--max-width);
  margin: 1rem auto;
  display: grid;
  justify-content: center;
}

.project {
  border: 0.2px solid #e5e5e5;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  margin-top: 1.5rem;
  max-width: 450px;
  background-color: var(--white-color);
  transition: all 0.3s ease;
}

body.dark .project {
  background-color: var(--fourth-color);
  border: none;
}

.project:hover {
  transform: scale(1.03);
  box-shadow: var(--box-shadow-aqua);
}

.project h3 {
  margin-top: 0.5rem;
  text-align: left;
  font-size: 1.5rem;
}

.project p {
  margin-top: 1rem;
  color: rgb(115, 115, 115, 0.8);
}

.project p,
.project h3 {
  user-select: none;
}

/* Contacto - Contact */

.contact {
  margin-top: 2rem;
  margin-bottom: 0;
}

.contact article {
  margin: 0 auto;
  max-width: var(--max-width);
}

.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
  background-color: var(--white-color);
  border-radius: 0.5rem;
}

.contact-form > * {
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  margin: 0.5rem auto;
  font-size: 0.85rem;
  font-family: var(--font);
  transition: border-bottom 0.3s ease-in, border 0.3s ease-in;
}

.contact-form textarea:focus {
  outline: none;
  border: thin solid rgba(0, 0, 0, 0.4);
}

.contact-form input:focus {
  outline: none;
  border-bottom: thin solid rgba(0, 0, 0, 0.4);
}

.contact-form input {
  border: 0;
  border-bottom: thin solid rgba(0, 0, 0, 0.2);
}

.contact-form textarea {
  border: thin solid rgba(0, 0, 0, 0.2);
  resize: none;
  border-radius: 0.2rem;
  transition: background-color 0.4s ease-in;
}

/* el cursor es default en vez de text (como debería ser) porque google chrome y edge, en el efecto hover, ponen transparente el cursor y no se ve. No pude solucionarlo a menos que quite las partículas */
.contact-form textarea:hover,
.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover {
  /* background-color: rgba(124, 133, 181, 0.3); */
  cursor: default;
}

.contact-form textarea,
.contact-form input[type="text"],
.contact-form input[type="email"] {
  color: var(--first-color);
}

@-moz-document url-prefix () {
  .contact-form textarea:hover {
    cursor: text;
  }
}

.contact-form input[type="submit"] {
  cursor: pointer;
  border-radius: 0.5rem;
  width: 9rem;
  font-size: 0.9rem;
  margin: 0;
  transition: background-color 0.3s ease;
}

.contact-form *::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.contact .btn {
  margin: 1rem auto;
}

.div-socialMedia {
  margin-top: 2.5rem;
  display: flex;
}

.div-socialMedia svg {
  width: 2rem;
  transition: transform 0.3s ease;
}

.div-socialMedia svg:first-child {
  margin-right: 0.5rem;
}

body.dark .div-socialMedia .path-github {
  fill: var(--fourth-color);
}

/* Pie de página - Footer */

.footer {
  background-color: var(--fourth-color);
  transition: all 0.3s ease;
}

body.dark .footer {
  background-color: var(--first-color);
}

.footer section {
  padding: 0.5rem 1rem;
  max-width: var(--max-width);
  margin: 0 auto;
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
}

/* Botón scroll */

.hidden {
  opacity: 0;
  visibility: hidden;
}

.scroll-top-btn {
  position: fixed;
  z-index: 1000;
  bottom: 3rem;
  right: 1rem;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--fourth-color);
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.scroll-top-btn:hover {
  background-color: var(--second-color);
  transform: scale(1.2);
  box-shadow: var(--box-shadow-aqua);
}

body.dark .scroll-top-btn {
  background-color: var(--fourth-color);
}

/* Media queries */

@media screen and (min-width: 620px) {
  /* Inicio - Home */

  .p-descripcion {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  /* Acerca - About */

  h2 {
    font-size: 6.3vw;
  }

  .article-h3 {
    font-size: 4.4vw;
  }

  .article-p {
    font-size: 2.8vw;
  }

  .div-skill img {
    width: 10vw;
  }

  .div-skill p {
    font-size: 2.5vw;
  }

  /* Proyectos - Projects */

  .projects article {
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  /* Contacto - Contact */

  .contact .article-p {
    margin-right: 0;
  }

  .contact .btn {
    margin-left: 2rem;
  }

  .contact .div-moreInfo {
    display: flex;
    align-items: center;
  }

  .div-socialMedia svg {
    width: 2.5rem;
  }

  /* Pie de página - Footer */

  .footer small {
    font-size: 1rem;
  }

  /* Scroll boton */

  .scroll-top-btn {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 768px) {
  section {
    scroll-margin-top: 6rem;
  }

  /* Inicio - Home */

  .div-image-title {
    flex-direction: row;
  }

  .div-image-title img {
    width: 42vw;
  }

  .home .btn,
  .contact .btn {
    width: 14rem;
    padding: 0.7rem 0;
  }

  .padding {
    padding: 0 2rem;
  }

  .home {
    margin: 2rem 0;
  }

  .programmer-svg {
    width: 19rem;
  }

  .p-nombre {
    margin-top: 2rem;
    font-size: 3vw;
    color: var(--first-color);
  }

  .p-descripcion {
    font-size: 3vw;
    margin-bottom: 1rem;
  }

  .titulo-principal {
    font-size: 9.2vw;
    letter-spacing: -0.25vw;
    line-height: 7.2vw;
  }

  .span-cv {
    font-size: 1.5rem;
    font-weight: bold;
  }

  /* Acerca - About */

  .about {
    margin-top: 4rem;
  }

  h2 {
    font-size: 6vw;
  }

  .article-p {
    font-size: 2.6vw;
  }

  .article-h3 {
    font-size: 3.9vw;
  }

  .div-skill {
    margin-top: 2.5rem;
  }

  .div-skill img {
    width: 8vw;
  }

  .div-skill p {
    font-size: 2.2vw;
  }

  .skills-container {
    grid-template-columns: repeat(3, 30%);
  }

  /* Proyectos - Projects */

  .project {
    max-width: 440px;
  }

  .project h3 {
    font-size: 1.6rem;
  }

  .project p {
    font-size: 1.2rem;
  }

  /* Contacto - Contact */

  .contact {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  .contact-form input[type="submit"] {
    width: 12rem;
    font-size: 1.3rem;
  }

  .div-socialMedia svg {
    width: 2.8rem;
  }

  .dots-container span {
    height: 6px;
    width: 6px;
    transform: rotate(calc(var(--i) * (360deg / 15))) translateY(18px);
  }

  .dots-container {
    margin-left: 2.5rem;
  }

  /* Scroll button */

  .scroll-top-btn {
    bottom: 3.2rem;
  }
}

@media screen and (min-width: 930px) {
  /* Inicio - Home */

  .div-image-title img {
    width: 36vw;
  }

  .header section {
    margin: 0 2rem;
  }

  .titulo-principal {
    font-size: 8vw;
    letter-spacing: -0.25vw;
    line-height: 6.8vw;
  }

  .p-nombre {
    margin-top: 2rem;
    font-size: 2.7vw;
    color: var(--first-color);
  }

  .p-descripcion {
    line-height: 2.9vw;
    font-size: 2.8vw;
  }

  /* Acerca - About */

  h2 {
    font-size: 5.8vw;
  }

  .article-p {
    font-size: 2.4vw;
  }

  .article-h3 {
    font-size: 4vw;
  }

  .div-skill img {
    width: 78px;
  }

  .div-skill p {
    font-size: 21px;
  }

  .projects article {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    box-shadow: none;
  }

  /* Inicio - Home */

  .home .btn,
  .contact .btn {
    width: 15rem;
    padding: 0.7rem 0;
  }

  .home article {
    margin-top: 1rem;
  }

  .div-image-title {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
  }

  .div-image-title img {
    width: 35vw;
    max-width: 420px;
  }

  .header {
    height: calc(var(--header-height) - 0.5rem);
  }

  .header section {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: var(--max-width);
  }

  .home {
    margin: 0;
  }

  .menu-button {
    display: none;
  }

  .menu {
    height: calc(var(--header-height) - 0.5rem);
    width: auto;
    position: static;
    flex-direction: row;
  }

  .menu a {
    margin-left: 2rem;
    margin-bottom: 0;
  }

  .programmer-svg {
    width: 23rem;
  }

  .p-nombre {
    margin-top: 0.5rem;
    font-size: 2.2vw;
  }

  .p-descripcion {
    font-size: 2.6vw;
    margin-bottom: 1.5rem;
    max-width: 900px;
  }

  .span-cv {
    font-size: 1.8rem;
  }

  .span-gd {
    font-size: 1rem;
  }

  .titulo-principal {
    font-size: 6.7vw;
    letter-spacing: -0.1vw;
    line-height: 5.3vw;
  }

  /* Acerca - About */

  h2 {
    font-size: 4.4vw;
  }

  .article-p {
    font-size: 23px;
  }

  .article-h3 {
    margin-top: 2.5rem;
    font-size: 3.2vw;
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 25%);
  }

  /* Proyectos - Projects */

  .projects article {
    width: 100%;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
  }

  .project {
    max-width: auto;
  }

  /* Contacto - Contact */

  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form textarea {
    grid-column: span 2;
  }

  .contact-form input[type="submit"] {
    width: 15rem;
    font-size: 1.7rem;
  }

  .dots-container span {
    height: 7px;
    width: 7px;
    transform: rotate(calc(var(--i) * (360deg / 15))) translateY(20.5px);
  }

  /* Pie de página - Footer */

  .footer small {
    font-size: 1.2rem;
  }

  /* Scroll button */

  .scroll-top-btn {
    right: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  /* Menu */

  .header section {
    padding: 0;
  }

  /* Inicio - Home */

  .p-nombre {
    font-size: 1.8vw;
  }

  /* Acerca - About */

  .article-p {
    font-size: 25px;
  }

  /* Proyectos - Projects */

  .projects article {
    width: 100%;
    grid-template-columns: repeat(3, 32%);
  }

  /* Scroll Button */

  .scroll-top-btn {
    right: 3.5rem;
    bottom: 3.4rem;
  }
}
